@font-face {
    font-family: "briller";
    src: url(../fonts/briller/Briller-Light.ttf) format("truetype");
}

@font-face {
    font-family: "briller bold";
    src: url(../fonts/briller/Briller-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "open sans";
    src: url(../fonts/open_sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "open sans bold";
    src: url(../fonts/open_sans/OpenSans-Bold.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aboutUsContainer {
    background: linear-gradient(to right, #330072, pink);
    font-family: "open sans";
}
.aboutUsTitulo {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    text-align: center;
    font-family: "briller";
}

.aboutUsTitulo h2 {
    font-size: 2.2rem;
}

.aboutUsMedia {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.aboutUsMedia p{
font-size: 1.1rem;
color: #330072;
font-weight: bold;
}

.aboutUsVideo iframe {
    padding: 2rem;
}
.aboutUsPerfil {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50rem;
    padding: 10px;
    justify-content: center;
}

.aboutInstitutions {
    width: 50%;
    margin: 1rem;
    text-align: center;
}
.aboutComercial {
    width: 50%;
    margin: 1rem;
    text-align: center;
}
.aboutOcio {
    width: 50%;
    margin: 1rem;
    text-align: center;
}
.aboutCreate {
    width: 50%;
    margin: 1rem;
    text-align: center;
}
.aboutBrands {
    width: 50%;
    margin: 1rem;
    text-align: center;
}
.aboutUsers {
    width: 50%;
    margin: 1rem;
    text-align: center;
}

.ImgOcio {
    width: 100%;
    height: 100%;
}

.ImgInstitutions {
    width: 100%;
    height: 100%;
}

.ImgComercial {
    width: 100%;
    height: 100%;
}
.ImgCreate{
    width: 100%;
    height: 100%;
}
.ImgBrands{
    width: 100%;
    height: 100%;
}
.ImgUsers {
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------@media query tablet ----------------------------------------*/
@media screen and (min-width: 768px) {
    .aboutUsContainer {
        margin-top: 7rem;
    }

    .aboutUsTitulo {
        display: flex;
        justify-content: center;
    }

    .aboutUsMedia {
        display: flex;
        justify-content: space-around;
    }

    .aboutUsVideo {
        width: 100%;
        height: 23rem;
    }

    .aboutUsPerfil {
        gap: 1rem;
        width: 40rem;
        justify-content: center;
        align-content: space-evenly;
    }

    .aboutInstitutions {
        width: 40%;
        margin: 1rem;
        text-align: center;
    }

    
    .aboutComercial {
        width: 40%;
        margin: 1rem;
        text-align: center;
    }
    
    
    .aboutOcio {
        width: 40%;
        margin: 1rem;
        text-align: center;
    }
    
    
    .perfiles {
        display: flex;
        
    }
    
    .aboutCreate {
        width: 40%;
        margin: 1rem;
        text-align: center;
    }
    .ImgInstitutions {
        width: 100%;
        height: 100%;
    }
    .ImgComercial {
        width: 100%;
        height: 100%;
    }
    
    .ImgOcio {
        width: 100%;
        height: 58%;
        
    }
    .ImgCreate{
        width: 100%;
        height: 100%;
    }
    .ImgBrands{
        width: 100%;
        height: 100%;
    }
    .ImgUsers {
        width: 100%;
        height: 100%;
    }

    .aboutBrands{
        width: 40%;
        margin: 1rem;
        text-align: center;
    }
    .aboutUsers {
        width: 40%;
        margin: 1rem;
        text-align: center;
    }
}

/* ------------------------------------------------------------@media query escritorio------------------------------------------ */
@media screen and (min-width: 992px) {

    /* --------------------------------------------------@media query section video y carrusel ----------------------------------------*/
    .aboutUsVideo {
        width: 40rem;
        height: 20rem;
    }
    
    .aboutUsPerfil {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        width: 30rem;
        justify-content: center;
        align-content: space-evenly;
    }

    .aboutInstitutions{
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }
    .aboutComercial{
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }
    .aboutOcio {
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }

    .ImgOcio {
        width: 100%;
        height: 100%;
    }

    .perfiles {
        display: flex;
        justify-content: space-around;
    }

    .aboutCreate{
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }
    .aboutBrands{
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }
    .aboutUsers {
        width: 16.6%;
        margin: 1rem;
        text-align: center;
    }
}