.footer_contact .formModal {
    padding-top: 16vh;
    background-image: url("/img/modal_fondo.png");
    background-size: cover;
    overflow: hidden;
}

.footer_contact .form_container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    margin-top: 22%;
}

.footer_contact .input-container {
    filter: drop-shadow(46px 36px 24px #4090b5)
        drop-shadow(-55px -40px 25px #9e30a9);
    animation: blinkShadowsFilter 8s ease-in infinite;
    margin: 10%;
}

.footer_contact .input-content {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-inline: 1em;
    
}

.footer_contact .input-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    -webkit-clip-path: polygon(
        26% 0,
        66% 0,
        92% 0,
        100% 8%,
        100% 89%,
        91% 100%,
        7% 100%,
        0 92%,
        0 0
    );
    clip-path: polygon(
        26% 0,
        66% 0,
        92% 0,
        100% 8%,
        100% 89%,
        91% 100%,
        7% 100%,
        0 92%,
        0 0
    );
    transition: all 1s ease-in-out;
}

.footer_contact .input-content::after {
    content: "";
    position: absolute;
    width: 130%;
    height: 140%;
    box-shadow: inset 0px 0px 150px 20px #f4f1f1;
    -webkit-clip-path: polygon(
        26% 0,
        31% 5%,
        61% 5%,
        66% 0,
        92% 0,
        100% 8%,
        100% 89%,
        91% 100%,
        7% 100%,
        0 92%,
        0 0
    );
    clip-path: polygon(
        26% 0,
        31% 5%,
        61% 5%,
        66% 0,
        92% 0,
        100% 8%,
        100% 89%,
        91% 100%,
        7% 100%,
        0 92%,
        0 0
    );
   
}

.footer_contact .input-dist {
    z-index: 80;
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 1em;
    padding-block: 1.2em;
    grid-template-columns: 1fr;
}

.footer_contact .input-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    font-size: 1.1rem;
    background-color: transparent;
    width: 100%;
    border: none;
}

.footer_contact .input-is {
    color: var(--compViolet);
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
    -webkit-text-fill-color: inherit;
}

.footer_contact .input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(102, 224, 255, 0.2) 27%,
        rgba(102, 224, 255, 0.2) 63%,
        transparent 100%
    );
}

.footer_contact .input-content:focus-within::before {
    transition: all 1s ease-in-out;
    background: hsla(0, 0%, 100%, 0.814);
}

.footer_contact .input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: var(--compViolet);
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(102, 224, 255, 0.2) 27%,
        rgba(102, 224, 255, 0.2) 63%,
        transparent 100%
    );
    
}

.footer_contact .input-is::-moz-placeholder {
    color: var(--compViolet);
    font-family: "briller bold", Helvetica, Arial, Lucida, sans-serif;
}

.footer_contact .input-is::placeholder {
    color: var(--compViolet);
    font-family: "briller bold", Helvetica, Arial, Lucida, sans-serif;
}

.footer_contact .input-is{
    font-family: "open sans", Arial, Helvetica, sans-serif;
    color: var(--compViolet);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }

    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }

    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}

@keyframes blinkShadowsFilter {
    0% {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
            drop-shadow(-55px -40px 28px #9e30a9);
    }

    25% {
        filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157))
            drop-shadow(-55px 40px 24px #9e30a9);
    }

    50% {
        filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157))
            drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }

    75% {
        filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157))
            drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }

    to {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
            drop-shadow(-55px -40px 28px #9e30a9);
    }
}


/* button*/

.footer_contact .footer_contactbutton {
    --glow-color: rgb(51, 50, 51);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    /* border: 0.25em solid var(--glow-color); */
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.footer_contact button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.footer_contact .footer_contactbutton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}

.footer_contact button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}

.footer_contact div.modal_form {
    background-image: url("/img/modal_fondo1.png");
    background-size: cover;
}
.footer_contact button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--compViolet);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.footer_contact button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.footer_contact button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}

.footer_contact button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}

.footer_contact .form_cerrar {
    position: absolute;
    top: 27%;
    left: 80%;
    transform: translateX(-50%) rotate(90deg);
    z-index: 5;
    cursor: pointer;
    color: var(--compPurple);
    float: right;
    font-size: 40px;
    font-weight: bold;
}


textarea{
    resize:vertical;
}

.form-p-red{
    color:rgb(192, 8, 8);
    white-space: pre-wrap;
}

.form-confirm{
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--compBlue);
    color:white;
}


@media only screen and (min-width: 768px) {
    .footer_contact .form_cerrar {
        top: 24%;
        left: 70%;
    }
    .footer_contact .form_container {
        margin-top: 5%;
    }
    .footer_contact .input-content::after {
        width: 130%;
        height: 136%;
    }
    .footer_contact .input-is {
        color: var(--compViolet);
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 992px) {
    .footer_contact .form_cerrar {
        top: 26%;
        left: 65%;
    }
    .footer_contact .input-is {
        color: var(--compViolet);
        font-size: 1.5rem;
    }
    .footer_contact .form_container {
        margin-top: 0%;
    }
    .footer_contact .input-content::after {
        width: 120%;
        height: 123%;
    }
    
}

@media only screen and (min-width: 1440px) {
    .footer_contact .form_cerrar {
        top: 23%;
        left: 62%;
    }
    .footer_contact .form_container {
        margin-top: -2%;
        }
        .footer_contact .input-content::after {
            width: 135%;
            height: 135%;
        }
        
    }