.frase {
    width: 100%;
    background-image: url("/img/modal_fondo.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 5%;
    font-family: "briller";
    font-size: 100%;
    text-align: center;
}
.frase span{
    font-weight: bold;
}
.frase div {
    width: 50%;
    height: 100%;
    color: #440099;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .frase {
        padding: 5%;
    }
}

@media screen and (min-width: 992px) {
    .frase {
        
        display: flex;
        justify-content: center;
    }

    .frase div {
        width: 50%;
        height: 100%;
        font-size: 3rem;
    }
}
