/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* initially hidden */
    position: fixed;
    z-index: 3;
    padding-top: 120px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* semi transparent background */
}

.about_text_1,
.about_text_2,
.about_text_3,
.about_text_4,
.about_text_5,
.about_text_6,
.about_text_7,
.about_text_8,
.about_text_9,
.about_text_10,
.about_text_11,
.about_text_12 {
    justify-content: center;
    width: 500px;
}

/* Ventana o caja modal */
.contenido-modal {
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 25rem;
    height: 25rem;
    clip-path: polygon(
        50% 0%,
        90% 20%,
        90% 80%,
        50% 100%,
        10% 80%,
        10% 20%
    ); /* Hexagon shape */
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 16px 36px 46px 11px rgba(122, 76, 122, 1);
    -moz-box-shadow: 16px 36px 46px 11px rgba(122, 76, 122, 1);
    box-shadow: 16px 36px 46px 11px rgba(122, 76, 122, 1);
    background-image: url("/img/modal_fondo.png");
}

/* Botón cerrar */
.cerrar {
    position: absolute;
    top: 115px;
    left: 203px;
    transform: rotate(90deg);
    color: #000000;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-text {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex; /* Creates a flex container to center text vertically */
    justify-content: center; /* Centra el contenido a lo largo del eje principal (horizontally) */
    align-items: center; /* Centra el contenido a lo largo del eje transversal (vertically) */
    height: 100%; /* El contenedor toma toda la altura disponible del modal. */
    flex-direction: column;
    gap: 2rem;
}

.modal-text > p {
    width: 50%; /* Ajusta el ancho del texto a un 80% del contenedor. */
    word-wrap: break-word; /* Hace que el texto se ajuste al ancho del contenedor. */
}

/* ---------------------------boton------------------------------------------- */

.botonAbout img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    cursor: pointer;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


@media only screen and (min-width: 768px) {

    .contenido-modal {
        
        width: 700px;
        height: 600px;
    }
    .modal-text > p {
        width: 80%; 
        word-wrap: break-word; 
    }
    .cerrar {
        position: absolute;
        top: 200px;
        left: 375px;
        
    }

}

@media only screen and (min-width: 992px) {

    .cerrar {
        position: absolute;
        top: 200px;
        left: 500px;
        
    }
}

@media only screen and (min-width: 1440px) {

    .cerrar {
        top: 200px;
        left: 710px;
        
    }
}