/* Fondo modal: negro con opacidad al 50% */
.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 3; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
}
.about_text_1 {
    position: absolute;
    transform: rotate(-45deg);
    left: 50px;
    top: 145px;
    color: white;
}
.about_text_2 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 40px;
    top: 190px;
    color: white;
}
.about_text_3 {
    position: absolute;
    transform: rotate(-45deg);
    left: 100px;
    top: 145px;
    color: white;
}
.about_text_4 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 70px;
    top: 178px;
    color: white;
}
.about_text_5 {
    position: absolute;
    transform: rotate(-45deg);
    left: 135px;
    top: 145px;
    color: white;
}
.about_text_6 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 70px;
    top: 178px;
    color: white;
}
.about_text_7 {
    position: absolute;
    transform: rotate(-45deg);
    left: 100px;
    top: 145px;
    color: white;
}
.about_text_8 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 70px;
    top: 178px;
    color: white;
}
.about_text_9 {
    position: absolute;
    transform: rotate(-45deg);
    left: 120px;
    top: 145px;
    color: white;
}
.about_text_10 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 70px;
    top: 178px;
    color: white;
}
.about_text_11 {
    position: absolute;
    transform: rotate(-45deg);
    left: 110px;
    top: 145px;
    color: white;
}
.about_text_12 {
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    left: 70px;
    top: 178px;
    color: white;
}

/* Ventana o caja modal */
.contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-image: url("/img/modal_fondo.png");
    margin: auto; /* Centrada */
    padding: 20px;
    width: 30rem;
    height: 30rem;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    border: 3px solid #555;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Animación */
@-webkit-keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Botón cerrar */
.cerrar {
    position: absolute;
    top: 89px;
    left: 95px;
    transform: rotate(45deg);
}

.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------boton------------------------------------------- */

.botonAbout img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    cursor: pointer;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
