.partners{
    width: 100%;
    background: rgb(178, 113, 253);
    background: linear-gradient(
        125deg,
        rgba(178, 113, 253, 1) 0%,
        rgba(216, 182, 251, 1) 10%,
        rgba(246, 237, 249, 1) 27%,
        rgba(249, 243, 249, 1) 37%,
        rgba(255, 254, 249, 1) 50%,
        rgba(255, 240, 238, 1) 66%,
        rgba(255, 226, 227, 1) 77%,
        rgba(255, 175, 188, 1) 91%,
        rgba(255, 140, 161, 0.9864320728291317) 100%
    );
}

.partners_title_section {
    font-size: 1.3rem;
    text-align: center;
    font-family: "briller bold", Helvetica, Arial, Lucida, sans-serif;
    padding-top:40px;
    color: var(--compPurple);
    
}

.partners_container_item{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    justify-items: center;
    align-items: center;
    padding:60px ;  
}

.partners_item{
    display: flex;
    justify-content: center;
}

.partners_item img{
    width:20%;
    min-width:225px;
}

.partner_img_1-3{
    height: 65px !important;    
}  
.partner_img_1-4{
    height: 77px !important;    
}  
.partner_img_2-4{
    height: 73px !important;    
}  
.partner_img_3-2{
    height: 105px !important;    
}  
.partner_img_3-3{
    height: 90px !important;    
}  
.partner_img_3-4{
    height: 130px !important;    
}  
.partner_img_4-2{
    height: 90px !important;    
}  
.partner_img_5-1{
    height:125px !important;    
}  
.partner_img_6-1{
    height:130px !important;    
}  
.partner_img_6-2{
    height:120px !important;    
}  
.partner_img_6-3{
    height:130px !important;    
}  

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {}

/*Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .partners_title_section {
        font-size: 2.2rem;
    }
    .partners_container_item{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 35px;
    }
}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {

    .partners_container_item{
        grid-template-columns: repeat(4,1fr);
       
    }
    
}


